@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "shrikhand", sans-serif;
  src: url("../fonts/shrikhand/shrikhand.ttf");
}
/*page principale*/
footer {
  color: white;
  padding: 0 0 5px 40px;
  background: #373535;
}
footer img {
  width: 6rem;
  height: 1rem;
  padding: 1.7rem 0 1rem 0;
  filter: invert(100%);
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer ul li {
  margin-bottom: 0.5rem;
}
footer a {
  text-decoration: none;
  color: inherit;
}

body #loader {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
  border-radius: 50%;
  background: white;
  animation: cercle 3s linear infinite;
  visibility: hidden;
}
body #loader .lettre {
  font-size: 25px;
  letter-spacing: 15px;
  animation: flash 1.2s linear infinite;
}
body #loader :nth-child(1) {
  animation-delay: 0.1s;
}
body #loader :nth-child(2) {
  animation-delay: 0.2s;
}
body #loader :nth-child(3) {
  animation-delay: 0.3s;
}
body #loader :nth-child(4) {
  animation-delay: 0.4s;
}
body #loader :nth-child(5) {
  animation-delay: 0.5s;
}
body #loader :nth-child(6) {
  animation-delay: 0.6s;
}
body #loader :nth-child(7) {
  animation-delay: 0.7s;
}
body #loader :nth-child(8) {
  animation-delay: 0.8s;
}
@keyframes cercle {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  50% {
    transform: rotate(180deg) scale(1.25);
    border-top-color: white;
    border-bottom-color: white;
  }
  100% {
    transform: rotate(360deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}
@keyframes flash {
  0% {
    color: #BF64DB;
    text-shadow: 0 0 7px #0c0c0b;
    transform: scale(1);
  }
  50% {
    color: grey;
    text-shadow: none;
    transform: scale(1.05);
  }
  100% {
    color: #BF64DB;
    text-shadow: 0 0 7px #f54804;
    transform: scale(1);
  }
}

/*fin page principale*/
body {
  margin: 0;
  position: relative;
}

* {
  font-family: "Roboto-Regular";
}

#div-loader {
  position: fixed;
  height: 100%;
  background: white;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#bloc-page {
  margin: auto;
  max-width: 768px;
}

header {
  text-align: center;
  padding: 2px 0;
}
header img {
  width: 12rem;
  height: 2rem;
}

#sectionReservation {
  display: grid;
  grid-template-rows: 40% 60%;
  margin-bottom: 2rem;
}
#sectionReservation #reservation--local {
  box-shadow: 0px 3px 3px #44444452 inset;
  background: #cecccc99;
}
#sectionReservation #reservation--local p {
  text-align: center;
  margin: 0 65px 0 0;
  padding: 20px 0;
  font-weight: bold;
}
#sectionReservation #reservation--local .fas {
  margin-right: 1rem;
}
#sectionReservation #reservation--search {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sectionReservation #reservation--search h2 {
  text-align: center;
  margin-top: 2rem;
}
#sectionReservation #reservation--search span {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
#sectionReservation #reservation--search button {
  padding: 1rem;
  border-radius: 2rem;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  color: white;
  border: 0;
  font-size: 16px;
  margin-bottom: 3.5rem;
  box-shadow: 2px 2px 3px #bfb4b4;
  transition: color, 1s;
  cursor: pointer;
}
#sectionReservation #reservation--search button:hover {
  color: black;
  font-size: 17px;
}
#sectionReservation #function {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  /*pour les colonne*/
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#sectionReservation #function div {
  grid-column-start: 2;
  background: #f2f2f2;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
#sectionReservation #function div:hover {
  background: #9356dc59;
}
#sectionReservation #function h2 {
  grid-column-start: 2;
  margin: 53px 0 0 0;
}
#sectionReservation #function .function-etape {
  padding: 1rem 0;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 3px #bfb4b4;
  font-weight: bold;
}
#sectionReservation #function .function-number {
  padding: 4px 8px;
  background: #9356DC;
  border-radius: 50%;
  margin-left: -12px;
  color: white;
}
#sectionReservation #function .fas {
  margin: 15px;
}

#sectionRestaurant {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  background: #f2f2f2;
}
#sectionRestaurant div {
  margin-bottom: 2rem;
  background: white;
  grid-column-start: 2;
  border-radius: 1.5rem;
  height: 250px;
  position: relative;
  padding-bottom: 0.3rem;
  box-shadow: 2px 2px 3px #bfb4b4;
  transition: transform 500ms;
}
#sectionRestaurant div:hover {
  transform: scale(1.02);
}
#sectionRestaurant h2 {
  grid-column-start: 2;
  margin-top: 3rem;
}
#sectionRestaurant a {
  text-decoration: none;
  color: inherit;
}
#sectionRestaurant .class-img-Resto {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
}
#sectionRestaurant span {
  color: #20887e;
  position: absolute;
  right: 10px;
  top: 17px;
  background: #99E2D0;
  padding: 4px 7px;
}
#sectionRestaurant h3 {
  margin: 15px 0 8px 15px;
  position: relative;
}
#sectionRestaurant p {
  margin: 0px 0 0px 15px;
}
#sectionRestaurant .far {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  font-size: 28px;
}
#sectionRestaurant .fas {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  color: transparent;
  transition: color 1s;
  font-size: 28px;
}
#sectionRestaurant .fas:hover {
  color: #BF64DB;
}

@media screen and (min-width: 769px) {
  #bloc-page {
    max-width: 991px;
  }

  header {
    background: white;
  }
  header h1 {
    margin: 10px 0 5px 0;
  }

  #sectionReservation {
    grid-template-columns: 2fr 2fr;
    background: #f2f2f2;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 5px #0e0e0ef2;
    padding-bottom: 0;
    grid-template-rows: 100%;
    border-bottom: #9356DC solid 3px;
  }
  #sectionReservation #reservation--local p {
    font-size: 24px;
  }
  #sectionReservation #reservation--search h2 {
    margin: 3rem 0;
  }
  #sectionReservation #reservation--search span {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.3rem;
  }
  #sectionReservation #function {
    grid-template-rows: 0fr;
    padding-bottom: 3rem;
    box-shadow: 1px 1px 10px #05050538 inset;
  }
  #sectionReservation #function h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0px 0 0px 0;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 3px 3px #44444452 inset;
    background: #cecccc99;
  }
  #sectionReservation #function .function-etape {
    margin: 3rem 0 0 0;
  }

  #sectionRestaurant {
    box-shadow: 0px 0px 5px #050505;
    grid-template-columns: 0% 1fr 1fr 0%;
    border-top: #9356DC solid 3px;
    gap: 1rem 3rem;
  }
  #sectionRestaurant :nth-child(3) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  #sectionRestaurant :nth-child(5) {
    grid-column-start: 3;
    grid-row-start: 3;
  }
}
@media screen and (min-width: 992px) {
  #bloc-page {
    max-width: 1950px;
  }

  #sectionReservation {
    grid-template-columns: 2fr;
    grid-template-rows: 62% 38%;
  }
  #sectionReservation #reservation--local p {
    margin: 0;
    font-size: 20px;
  }
  #sectionReservation #reservation--search {
    transition: color 2s;
  }
  #sectionReservation #reservation--search h2 {
    margin: 2rem 0;
  }
  #sectionReservation #reservation--search span {
    margin-bottom: 2rem;
  }
  #sectionReservation #reservation--search button {
    font-size: 19px;
    padding: 1rem 2rem;
  }
  #sectionReservation #reservation--search button:hover {
    color: black;
    font-size: 20px;
  }
  #sectionReservation #function {
    grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
    gap: 2rem;
    background: white;
    box-shadow: none;
  }
  #sectionReservation #function h2 {
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 19.92px 0 0px 0;
    text-align: inherit;
    margin: 0;
    background: inherit;
    box-shadow: none;
  }
  #sectionReservation #function .function-etape {
    margin: 0;
    padding: 0;
  }
  #sectionReservation #function :nth-child(3) {
    grid-column-start: 3;
  }
  #sectionReservation #function :nth-child(4) {
    grid-column-start: 4;
  }
}

/*# sourceMappingURL=style.css.map */
