@import "../sass/utils/variable";
@import "../sass/utils/fonts";
@import"../sass/utils/placeholders";
@import "../sass/utils/_responsive";
@import"../sass/utils/_animation.scss";


body{
   
    margin: 0;
    position: relative;
   
            
}
*{
    font-family: "Roboto-Regular";
}
#div-loader{
    position: fixed;
      
      top: 0;
     right: 0;
     bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 999;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      
      animation:vanish 0s ; //loading-spinner
      animation-fill-mode: both;//  indique la façon dont une animation CSS doit appliquer les styles à sa cible avant et après son exécution.
      @extend %animation-loading-spinner;
     
      
      
      
     
      
      
      
}
#bloc-page{

margin: auto; 
max-width: 768px;

   
    



}
header{
    text-align: center;
  
    padding: 2px 0;
   
    img{
        width:12rem;
        height:2rem;
        
    }
}

#sectionReservation{
   display: grid;
   grid-template-rows: 40% 60%;
   margin-bottom: 2rem;
  
    #reservation--local{
    box-shadow: 0px 3px 3px #44444452 inset;
    background: $gris-foncé;
        p{
            text-align: center;
           
            margin: 0 65px 0 0 ;
            padding: 20px 0;
            font-weight: bold;
            
        }
        .fas{
            margin-right: 1rem;
        }

    }
 



    #reservation--search{
        background:$gris;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        h2{
           text-align: center;
           margin-top: 2rem;
        }
        span{
            margin-bottom: 2rem;
            font-size: 1.2rem;
        }
            
        
        button{
            padding: 1rem;
            border-radius: 2rem;
            background-image: linear-gradient(to left,$Primaire,$Secondaire);
            color: white;
            border: 0;
            font-size: 16px;
            margin-bottom: 3.5rem ;
            box-shadow: $box-shadow-Element;
            transition: color, 1s;
            cursor: pointer;
            &:hover{
                color:black;
                font-size: 17px;
               
            }
        }
    }
    

    #function{
    
       
        display: grid;
        grid-template-columns: 40px 1fr 40px; /*pour les colonne*/
        grid-template-rows:1fr 1fr 1fr 1fr;
        div{
            grid-column-start: 2;
            background: $gris;
            margin-bottom: 2rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            &:hover{
                background: #9356dc59;
            }
            
        }
        h2{
           
            grid-column-start: 2;
            margin: 53px 0 0 0;
        }
        .function-etape{
    
          padding: 1rem 0;
          border-radius: 1.5rem;
          box-shadow: $box-shadow-Element;
          font-weight: bold;
        }
        .function-number{
            padding: 4px 8px;
            background: $Primaire;
            border-radius: 50%;
            margin-left: -12px;
            color: white;
        }
        .fas{
            margin: 15px;
        }    

       
    }

}   
#sectionRestaurant{
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    background:$gris;

     div{
         margin-bottom:2rem ;
         background: white;
         grid-column-start: 2;
         border-radius: 1.5rem;
         height: 250px;
         position: relative;
         padding-bottom: 0.3rem;
         box-shadow: $box-shadow-Element;
         transition: transform 500ms;
         &:hover{
             transform: scale(1.02);
         }
     }
     h2{
        grid-column-start: 2;
        margin-top: 3rem;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .class-img-Resto{
        width:100% ;
        height: 175px;
        object-fit: cover;
        border-radius: 1.5rem 1.5rem 0 0;
        position: relative;
    }
    span{
        color: #20887e;
        position: absolute;
        right: 10px;
        top: 17px;
        background: $Tertiaire;
        padding: 4px 7px;
    }
    h3 {
        margin: 15px 0 8px 15px;
        position: relative;
         @extend %animationCoeur;

    }
    p{
        margin:0px 0 0px 15px;
    }
    
}
footer{
    @extend %footer;
 }
 @include tablette;
 @include desktop;

 











   