@import"../utils/_variable";
@import "../utils/_fonts";
@import "../utils/_placeholders";
@import"./_responsive-page-secondaire";
@import"../utils/_animation";
*{
    font-family: "Roboto-Regular";
}
body{
    background: $gris;
    margin: 0;
   
}

header{
  
   div{
      
       
       
      h1{
            margin: 0;
            text-align: center;
            padding-top: 0.5rem;
      }
      a{
        position: absolute;
        top: 1rem;
        left: 3rem;
        color: inherit;
    
      }
   }
   #img-photo{
    object-fit: cover;
    height: 350px;
   
    width: 100%;
   
   }

}

main{
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 4rem 1fr 1fr 1fr 6rem ; 
    background: $gris;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    top: -2rem;
    
    h2{
        grid-column-start: 2;
        display: flex;
        justify-content: space-between;
        span{
            font-family:"shrikhand",sans-serif;
        }
       
       @extend%animationCoeur-pagesSecondaire;
    }
   

}
    .entrees{ //section entrees
        grid-column-start: 2;
        
        h3{
            @extend %h3-page-secondaire;
            
        } 
       #grand-div-entrees{
        display: flex;
        flex-direction: column;
        animation:animation-defilement-menu 3s cubic-bezier(.66,.25,.31,.89); 
        
       }    
            
        div{
            @extend %div-des-sectionsPages;// entrees plats desserts
            //placeholder
        }
        .div-coche { 
            width: 7rem;
            height: 100%;
            
            visibility: hidden; 
              position: absolute;
              right: 0;
              top: 0;
             background-color: $Tertiaire; 
             display: flex;
             justify-content: center;
             align-items: center;
              transform-origin: right;
              left: 100%; 
              transition: transform 0.8s ;
              border-radius:0;
              i{
                background-color: white;
                color: $Tertiaire;
                font-size: 27px;
                transform: rotate(50deg);
                transition: transform 1s;
                border-radius: 7px;
              }
          }  
        
       
         

               
                    
    }  
    @keyframes animation-defilement-menu {
        0%{
            transform: translateY(-50%);
            opacity: 0;
            
            
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
      }
             
         
        
            
          
        
        
       
        
       
    .plats{
        grid-column-start: 2;
        h3{
            @extend %h3-page-secondaire;
            
        }
        div{
            @extend %div-des-sectionsPages; 
         }
    }
    .desserts{
        grid-column-start: 2;
        h3{
            @extend %h3-page-secondaire;
         }
         div{
            @extend %div-des-sectionsPages; 
        }


    }
    .btn-commander{
        @extend %btn-commande;
        
        
    }
    footer{
        @extend %footer;
     }
@include desktopMenu;
     

