@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'shrikhand',sans-serif;
  src: url("../fonts/shrikhand/shrikhand.ttf");
}

/*page principale*/
footer {
  color: white;
  padding: 0 0 5px 40px;
  background: #373535;
}

footer img {
  width: 6rem;
  height: 1rem;
  padding: 1.7rem 0 1rem 0;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer a {
  text-decoration: none;
  color: inherit;
}

/*fin page principale*/
.entrees h3, .plats h3, .desserts h3 {
  width: 2.5rem;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 0.5rem;
}

.entrees div, .plats div, .desserts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 1rem;
  background: white;
  margin-bottom: 1rem;
  -webkit-box-shadow: 2px 2px 3px #bfb4b4;
          box-shadow: 2px 2px 3px #bfb4b4;
  cursor: pointer;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entrees div :hover + .div-coche, .plats div :hover + .div-coche, .desserts div :hover + .div-coche {
  -webkit-transform: translateX(-107px);
          transform: translateX(-107px);
  visibility: visible;
}

.entrees div :hover + .div-coche i, .plats div :hover + .div-coche i, .desserts div :hover + .div-coche i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.entrees div .p1, .plats div .p1, .desserts div .p1 {
  margin: 0;
}

.entrees div .p1 strong, .plats div .p1 strong, .desserts div .p1 strong {
  padding: 0;
}

.entrees div .p2, .plats div .p2, .desserts div .p2 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0rem 1rem 1rem;
}

.entrees div .p2 span, .plats div .p2 span, .desserts div .p2 span {
  padding: 0;
}

.entrees div .p2 .prix, .plats div .p2 .prix, .desserts div .p2 .prix {
  padding-right: 1rem;
  font-weight: bold;
}

.btn-commander {
  -ms-grid-column: 2;
      grid-column-start: 2;
  text-align: center;
}

.btn-commander button {
  padding: 1rem 3.5rem;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC 10%, #FF79DA 100%);
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 3px #bfb4b4;
          box-shadow: 2px 2px 3px #bfb4b4;
  margin-top: 1.5rem;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.btn-commander button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-size: 18px;
}

@-webkit-keyframes cercle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.25);
            transform: rotate(180deg) scale(1.25);
    border-top-color: white;
    border-bottom-color: white;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}

@keyframes cercle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.25);
            transform: rotate(180deg) scale(1.25);
    border-top-color: white;
    border-bottom-color: white;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}

@-webkit-keyframes flash {
  0% {
    color: #BF64DB;
    text-shadow: 0px 0px 7px #9356DC;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: grey;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    color: #BF64DB;
    text-shadow: 0px 0px 7px red;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flash {
  0% {
    color: #BF64DB;
    text-shadow: 0px 0px 7px #9356DC;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: grey;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    color: #BF64DB;
    text-shadow: 0px 0px 7px red;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes vanish {
  0% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes vanish {
  0% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

main h2 .far {
  position: absolute;
  right: 2.5rem;
  cursor: pointer;
  font-size: 28px;
}

main h2 .fas {
  position: absolute;
  right: 2.5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #9356DC), color-stop(20%, #FF79DA));
  -webkit-background-clip: text;
  opacity: 0;
  font-size: 28px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  color: transparent;
}

main h2 .fas:hover {
  opacity: 1;
}

* {
  font-family: "Roboto-Regular";
}

body {
  background: #f2f2f2;
  margin: 0;
}

header div h1 {
  margin: 0;
  text-align: center;
  padding-top: 0.5rem;
}

header div a {
  position: absolute;
  top: 1rem;
  left: 3rem;
  color: inherit;
}

header #img-photo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
  width: 100%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 40px;
      grid-template-columns: 40px 1fr 40px;
  -ms-grid-rows: 4rem 1fr 1fr 1fr 6rem;
      grid-template-rows: 4rem 1fr 1fr 1fr 6rem;
  background: #f2f2f2;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: -2rem;
}

main h2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main h2 span {
  font-family: "shrikhand",sans-serif;
}

.entrees {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.entrees #grand-div-entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: animation-defilement-menu 3s cubic-bezier(0.66, 0.25, 0.31, 0.89);
          animation: animation-defilement-menu 3s cubic-bezier(0.66, 0.25, 0.31, 0.89);
}

.entrees .div-coche {
  width: 7rem;
  height: 100%;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: right;
          transform-origin: right;
  left: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 0;
}

.entrees .div-coche i {
  background-color: white;
  color: #99E2D0;
  font-size: 27px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  border-radius: 7px;
}

@-webkit-keyframes animation-defilement-menu {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation-defilement-menu {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.plats {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.desserts {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media screen and (min-width: 992px) {
  main {
    margin: auto;
    max-width: 1200px;
    -webkit-box-shadow: 0px -5px 11px #bfb4b4;
            box-shadow: 0px -5px 11px #bfb4b4;
  }
  footer {
    margin-top: -2rem;
  }
}
/*# sourceMappingURL=style1.css.map */