@import"../utils/_variable";
@import "../utils/_fonts";
@import "../utils/placeholderMenu";
@import"./_responsive-page-secondaire";
@import"../utils/_animation";





header{
  
   div{
      
       
       
      h1{
            margin: 0;
            text-align: center;
            padding-top: 0.5rem;
      }
      a{
        position: absolute;
        top: 1rem;
        left: 3rem;
        color: inherit;
    
      }
   }
   #img-photo{
    object-fit: cover;
    height: 350px;
   
    width: 100%;
   
   }

}

main{
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 4rem 1fr 1fr 1fr 6rem ; 
    background: $gris;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    top: -2rem;
    
    h2{
        grid-column-start: 2;
        display: flex;
        justify-content: space-between;
        span{
            font-family:"shrikhand",sans-serif;
        }
       
       @extend %animationCoeur-pagesSecondaire;
    }
}
.entrees{ //section entrees
    grid-column-start: 2;
    
    h3{
        @extend %h3-page-secondaire;
        
    } 
   .grand-div-sections{
    display: flex;
    flex-direction: column;
    animation:animation-defilement-menu 3s cubic-bezier(.02,1.1,1,1);
      background-color: red;
      .div-entrees-plats-desserts {// entrees plats desserts
        @extend %div-entrees-plats-desserts;
        
      }     
        
   }    
  
   
}



    
    
    
    
    
    
    
    
    
    @keyframes animation-defilement-menu {
        0%{
            transform: translateY(-50%);
            opacity: 0;
            
            
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
      }
             
    .plats{
        grid-column-start: 2;
        h3{
            @extend %h3-page-secondaire;
            
        }
       
    }
    .desserts{
        grid-column-start: 2;
        h3{
            @extend %h3-page-secondaire;
         }
        


    }
    .btn-commander{
        @extend %btn-commande;
        
        
    }
    @import"../layout/footer";
@include desktopMenu;
     

