@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

/*page principale*/
/*fin page principale*/
body {
  margin: 0;
}

* {
  font-family: "Roboto-Regular";
}

#bloc-page {
  margin: auto;
  max-width: 768px;
}

header {
  text-align: center;
  padding: 2px 0;
}

header img {
  width: 12rem;
  height: 2rem;
}

#sectionReservation {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
  margin-bottom: 2rem;
}

#sectionReservation #reservation--local {
  -webkit-box-shadow: 0px 3px 3px #44444452 inset;
          box-shadow: 0px 3px 3px #44444452 inset;
  background: #cecccc99;
}

#sectionReservation #reservation--local p {
  text-align: center;
  margin: 0 65px 0 0;
  padding: 20px 0;
}

#sectionReservation #reservation--local .fas {
  margin-right: 1rem;
}

#sectionReservation #reservation--search {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionReservation #reservation--search h2 {
  text-align: center;
  margin-top: 2rem;
}

#sectionReservation #reservation--search span {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

#sectionReservation button {
  padding: 1rem;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  color: white;
  border: 0;
  font-size: 16px;
  margin-bottom: 3.5rem;
}

#function {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 40px;
      grid-template-columns: 40px 1fr 40px;
  /*pour les colonne*/
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

#function div {
  -ms-grid-column: 2;
      grid-column-start: 2;
  background: #f2f2f2;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#function h2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin: 53px 0 0 0;
}

#function .function-etape {
  padding: 1rem 0;
  border-radius: 1.5rem;
  -webkit-box-shadow: 2px 2px 3px #bfb4b4;
          box-shadow: 2px 2px 3px #bfb4b4;
  font-weight: bold;
}

#function .function-number {
  padding: 4px 8px;
  background: #9356DC;
  border-radius: 50%;
  margin-left: -12px;
  color: white;
}

#function .fas {
  margin: 15px;
}

#sectionRestaurant {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 40px;
      grid-template-columns: 40px 1fr 40px;
  background: #f2f2f2;
}

#sectionRestaurant div {
  margin-bottom: 2rem;
  background: white;
  -ms-grid-column: 2;
      grid-column-start: 2;
  border-radius: 1.5rem;
  height: 250px;
  position: relative;
  padding-bottom: 0.3rem;
  -webkit-box-shadow: 2px 2px 3px #bfb4b4;
          box-shadow: 2px 2px 3px #bfb4b4;
}

#sectionRestaurant h2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

#sectionRestaurant a {
  text-decoration: none;
  color: inherit;
}

#sectionRestaurant .class-img-Resto {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
}

#sectionRestaurant span {
  color: #20887e;
  position: absolute;
  right: 10px;
  top: 17px;
  background: #99E2D0;
  padding: 4px 7px;
}

#sectionRestaurant h3 {
  margin: 15px 0 8px 15px;
  position: relative;
}

#sectionRestaurant p {
  margin: 0px 0 0px 15px;
}

#sectionRestaurant .fas {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  -webkit-transition: background 4s;
  transition: background 4s;
}

#sectionRestaurant .fas:hover {
  background: red;
}

#sectionRestaurant .far {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  -webkit-transition: background 4s;
  transition: background 4s;
}

#sectionRestaurant .far:hover {
  background: red;
}

footer {
  color: white;
  padding: 0 0 5px 40px;
  background: #373535;
}

footer img {
  width: 5rem;
  height: 1rem;
  padding: 1.7rem 0 1rem 0;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer ul li {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 769px) {
  #bloc-page {
    max-width: 991px;
  }
  header {
    background: white;
  }
  header h1 {
    margin: 10px 0 5px 0;
  }
  #sectionReservation {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    background: #f2f2f2;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 0px 5px #0e0e0ef2;
            box-shadow: 0px 0px 5px #0e0e0ef2;
    padding-bottom: 0;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    border-bottom: #9356DC solid 3px;
  }
  #sectionReservation #reservation--local p {
    font-size: 24px;
  }
  #sectionReservation #reservation--search h2 {
    margin: 3rem 0;
  }
  #sectionReservation #reservation--search span {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.3rem;
  }
  #sectionReservation #reservation--search button {
    font-size: 25px;
  }
  #sectionReservation #function {
    -ms-grid-rows: 0fr;
        grid-template-rows: 0fr;
    padding-bottom: 3rem;
    -webkit-box-shadow: 1px 1px 10px #05050538  inset;
            box-shadow: 1px 1px 10px #05050538  inset;
  }
  #sectionReservation #function h2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    margin: 0px 0 0px 0;
    text-align: center;
    padding: 20px 0;
    -webkit-box-shadow: 0px 3px 3px #44444452 inset;
            box-shadow: 0px 3px 3px #44444452 inset;
    background: #cecccc99;
  }
  #sectionReservation #function .function-etape {
    margin: 3rem 0 0 0;
  }
  #sectionRestaurant {
    -webkit-box-shadow: 0px 0px 5px #050505;
            box-shadow: 0px 0px 5px #050505;
    -ms-grid-columns: 0% 1fr 1fr 0%;
        grid-template-columns: 0% 1fr 1fr 0%;
    border-top: #9356DC solid 3px;
    gap: 1rem 3rem;
  }
  #sectionRestaurant :nth-child(3) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  #sectionRestaurant :nth-child(5) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}

@media screen and (min-width: 992px) {
  #bloc-page {
    max-width: 1750px;
  }
  #sectionReservation {
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    -ms-grid-rows: 62% 38%;
        grid-template-rows: 62% 38%;
  }
  #sectionReservation #reservation--local p {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
  }
  #sectionReservation #reservation--search h2 {
    margin: 2rem 0;
  }
  #sectionReservation #reservation--search span {
    margin-bottom: 2rem;
  }
  #sectionReservation #reservation--search button {
    font-size: 19px;
    padding: 0.5rem 2rem;
  }
  #sectionReservation #function {
    -ms-grid-columns: 2rem 1fr 1fr 1fr 2rem;
        grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
    gap: 2rem;
    background: white;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #sectionReservation #function h2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
    padding: 19.92px 0 0px 0;
    text-align: inherit;
    margin: 0;
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #sectionReservation #function .function-etape {
    margin: 0;
    padding: 0;
  }
  #sectionReservation #function :nth-child(3) {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  #sectionReservation #function :nth-child(4) {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

/*./dart-sass/sass sass/style.scss style.css --watch*/
/*# sourceMappingURL=style.css.map */