<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/layout/style1.css">
    <script src="https://kit.fontawesome.com/966980ee1c.js" crossorigin="anonymous"></script>
    <title>À la française </title>
</head>
<body>
  <div id="bloc-page">
    <header>
    <div> 
      <a href="../index.html"><i class="fas fa-arrow-left"></i></a><h1><img src="../images/logo/ohmyfood@2x.svg" alt=""></h1> 
    </div>
    <img src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" id="img-photo" > 
    </header>
    <main>
        
        <h2><span>À la française </span><i class="fas fa-heart"></i></h2>
      <section class="entrees">
        <h3>ENTRÉES</h3>
        <div class="desc-menu">
          <p><strong> Tartare de poulpe acidulé</strong></p>
          <p>Aux zests d'orange<span class="prix">25€</span> </p>
           
        </div>
        <div class="desc-menu">
          <p><strong>Velouté de légumes d'antan</strong> </p>
          <p>Carotte, panais, topinambour<span class="prix">35€</span> </p>
           
        </div>
        <div class="desc-menu">
          <p><strong>Soupe à l'oignon</strong></p>
          <p>Revisité<span class="prix">20€</span> </p>
          
        </div>
       
            
      </section>
      
      <section class="plats">
        <h3>PLATS</h3>
        <div class="desc-menu">
          <p><strong>Coquilles Saint-Jacques</strong></p>
          <p>Accompagné d'une purée de panais<span class="prix">40€</span> </p>
            
            
        </div>
        <div class="desc-menu">
          <p><strong>Magret de canard</strong> </p>
          <p>Et parmentier de pommes de terre<span class="prix">35€</span> </p>
            
            
        </div>
        <div class="desc-menu">
          <p><strong>Pigeonneau d'Ille-et-Vilaine</strong></p>
          <p>Sur son lit de gnocchis aux légumes<span class="prix">44€</span> </p>
            
            
        </div>    
      </section>     
       
      
      
      <section class="desserts">
        <h3 >DESSERTS</h3>
        <div class="desc-menu">
          <p><strong> Macaron noisette et chocolat</strong></p>
          <p><span>Glace au caramel brun et sel de Guérande</span><span class="prix">18€</span></p>
        
            
        </div>
        <div class="desc-menu">
          <p><strong>Fondant au chocolat</strong> </p>
          <p>Revisité<span class="prix">22€</span> </p>
            
            
           
        </div>
        <div class="desc-menu">
          <p><strong>Millefeuille croustillant</strong></p>
          <p>Myrtilles et pâtes d'amande<span class="prix">23€</span></p>
            
            
            
           
        </div>
      </section>
        <div class="btn-commander">
           <button>Commander</button> 
        </div>
    </main>
    <footer>
      <img src="../images/logo/ohmyfood@2x.svg" alt="homyfood">
        <ul>
          <li><a href=""><i class="fas fa-utensils whiteicon"></i> Proposer un restaurant</a></li>
          <li><a href=""><i class="fas fa-hands-helping whiteicon"></i> Devenir partenaire</a></li>
          <li><a href="">Mentions légales</a></li>
          <li><a href="">Contact</a></li>
       </ul>
    </footer>
 
  </div><!--bloc-page-->  
 

</body>
</html>