    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/layout/style1.css">
        <script src="https://kit.fontawesome.com/966980ee1c.js" crossorigin="anonymous"></script>
        <title>la-palette-du-goût</title>
    </head>
    <body>
      <div id="bloc-page">
        <header>
        <div> 
          <a href="../index.html"><i class="fas fa-arrow-left"></i></a><h1><img src="../images/logo/ohmyfood@2x.svg" alt=""></h1> 
        </div>
        <img src="../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" id="img-photo" > 
        </header>
        <main>
            
            <h2><span>La palette du goût</span><i class="fas fa-heart"></i></h2>
          <section class="entrees">
            <h3>ENTRÉES</h3>
            <div class="desc-menu">
              <p><strong> Fricassée d'escargot</strong></p>
              <p>Au piment d'espelette <span class="prix">25€</span> </p>
            </div>
            <div class="desc-menu">
              <p><strong>Foie gras de canard mi-cuit</strong> </p>
              <p>Et ses copeaux de truff noire <span class="prix">35€</span> </p>
            </div>
            <div class="desc-menu">
              <p><strong>Oeuf au plat</strong></p>
              <p>Assaisonné à la truffe sur lit de caviar <span class="prix">20€</span> </p>
            </div>

          </section>
          
          <section class="plats">
            <h3>PLATS</h3>
            <div class="desc-menu">
              <p><strong> Filet de boeuf aux herbes</strong></p>
              <p>Accompagné de sa ribambelle de légumes<span class="prix">40€</span> </p>
            </div>
            <div class="desc-menu">
              <p><strong>Parmentier de queue de boeuf</strong> </p>
              <p>À la truffe noire sur sa purée de panais<span class="prix">35€</span> </p>
                
            </div>
            <div class="desc-menu">
              <p><strong>Filet de turbot</strong></p>
              <p>Aux agrumes <span class="prix">44€</span> </p>
               
            </div>
          </section>
          
          <section class="desserts">
            <h3 >DESSERTS</h3>
            <div class="desc-menu">
              <p><strong> Paris-Brest</strong></p>
              <p><span>Revisité</span><span class="prix">18€</span></p>
                
            </div>
            <div class="desc-menu">
              <p><strong>Macaron au chocolat d'exception </strong> </p>
              <p>Et sa glace à la vanille de Madagascar <span class="prix">22€</span> </p>
               
            </div>
            <div class="desc-menu">
              <p><strong>Mousse au chocolat</strong></p>
              <p>Au piment d'espelette et à la truffe noire <span class="prix">23€</span> </p>
               
            </div>
          </section>
            <div class="btn-commander">
               <button>Commander</button> 
            </div>
        </main>
        <footer>
          <img src="../images/logo/ohmyfood@2x.svg" alt="homyfood">
            <ul>
              <li><a href=""><i class="fas fa-utensils whiteicon"></i> Proposer un restaurant</a></li>
              <li><a href=""><i class="fas fa-hands-helping whiteicon"></i> Devenir partenaire</a></li>
              <li><a href="">Mentions légales</a></li>
              <li><a href="">Contact</a></li>
           </ul>
        </footer>
     
      </div><!--bloc-page-->  
     

    </body>
    </html>