@import"../utils/_variable";
@import "../utils/_fonts";
@import "../utils/placeholders";
@import"./_responsive-page-secondaire.scss";
*{
    font-family: "Roboto-Regular";
}
body{
    background: $gris;
    margin: 0;
}

header{
  
   div{
      
       
       
      h1{
            margin: 0;
            text-align: center;
            padding-top: 0.5rem;
      }
      a{
        position: absolute;
        top: 1rem;
        left: 3rem;
        color: inherit;
    
      }
   }
   #img-photo{
    object-fit: cover;
    height: 350px;
   
    width: 100%;
   
   }

}

main{
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 4rem 1fr 1fr 1fr 6rem ; 
    background: $gris;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    top: -2rem;
    
    h2{
        grid-column-start: 2;
        display: flex;
        justify-content: space-between;
        span{
            font-family:"shrikhand",sans-serif;
        }
        i{
            padding-right: 1rem;
        }
    }
   

}
    .entrees{
        grid-column-start: 2;
        h3{
            @extend %h3-page-secondaire;
           
        }    
        div{
            @extend %div-des-sectionsPages; 
        }
        
    }
    .plats{
        grid-column-start: 2;
        h3{
            @extend %h3-page-secondaire;
            
        }
        div{
            @extend %div-des-sectionsPages; 
         }
    }
    .desserts{
        grid-column-start: 2;
        h3{
            @extend %h3-page-secondaire;
         }
         div{
            @extend %div-des-sectionsPages; 
        }


    }
    .btn-commander{
        @extend %btn-commande;
        
        
    }
    footer{
        @extend %footer;
     }
@include desktopMenu;
     

