//desktop
    @media screen and (min-width:992px) {
        main{
            margin: auto;
            max-width: 1200px;
            box-shadow: 0px 0px 7px #bfb4b4;
        }
     footer{
        margin-top: -2rem;
     }   
    }
    
