
/*page principale*/
%footer {
    color: white;
    padding: 0 0 5px 40px;
    background: #373535;
    img{
        width: 6rem;
        height: 1rem;
        padding: 1.7rem 0 1rem 0;
        filter: invert(100%);
        
    }  
    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        li{
            margin-bottom: 0.5rem;

        }
    }
    a{
      text-decoration: none;
      color: inherit;
    }
  }


  /*fin page principale*/
  %h3-page-secondaire{
    width: 2.5rem; 
    border-bottom: 3px solid $Tertiaire;
    padding-bottom: 0.5rem;
  
  }
  
  
  %div-des-sectionsPages{
      border-radius: 1rem;
      background: white;
      margin-bottom: 1rem;
      box-shadow: 2px 2px 3px $gris-shadow;
      cursor: pointer;
      
  
    & :nth-child(1){
    
     margin: 0;
     padding: 0.8rem 0rem 0 1rem;
     strong{
       padding: 0;
     }
   }
   & :nth-child(2){
    
      margin: 0; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0rem 1rem 1rem;
  
      span{
        padding:0;
      }
      .prix{
        padding-right: 1rem;
        font-weight: bold;
      }
      
      
     }
  }
  %btn-commande {
    grid-column-start: 2;
    text-align: center;
    button{
    padding: 1rem 3.5rem;
    border-radius: 2rem;
    background-image: linear-gradient( #9356DC 10%, #FF79DA 100%);
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: $box-shadow-Element;
    margin-top: 1.5rem;
    transition: transform 400ms;
  
      &:hover{
        transform: scale(1.02);
        font-size: 18px;
       
       
      }
    }
  }