//animation loader


%animation-loading-spinner{


    #loader{
       
        
        width: 250px;
        height:250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:5px solid transparent;
        border-radius: 50%;
        background: white;
        animation: cercle 3s linear infinite ;
        
       
        
  
         .lettre{
             
             font-size: 27px;
             letter-spacing: 15px;
             
             animation: flash 1.5s linear infinite ;
             
            }
             & :nth-child(1){
               animation-delay:0.1s;
               
             } & :nth-child(2){
                animation-delay:0.2s; 
              
             } & :nth-child(3){
                animation-delay:0.3s;
               
             } & :nth-child(4){
                animation-delay:0.4s;
               
             } & :nth-child(5){
                animation-delay:0.5s; 
             
             } & :nth-child(6){
                animation-delay:0.6s; 
               
             } & :nth-child(7){
                animation-delay:0.7s;
              
             } & :nth-child(8){
                animation-delay:0.8s;
                
             }
        }
        @keyframes cercle {
        0%{ 
          transform: scale(1);
          border-top-color:#9356DC;
          border-bottom-color:#9356DC;
         
        }
        50% {
          transform: rotate(180deg) scale(1.5);
         
          border-top-color:white;
          border-bottom-color:white;
          
  
        }
        100%{
          transform: rotate(360deg) scale(1);
          border-top-color:#9356DC;
          border-bottom-color:#9356DC;
          
          
         
        }
        }
        
        @keyframes flash {
           
            0% {
                color:black;
                text-shadow: 0px 0px 7px black; 
                transform:  scale(1);
            }
            
            50% {
              color:$Secondaire;
              
              transform:  scale(1.25);
              text-shadow: 0px 0px 7px black;

            }
            100%{
                color:black;
                
                text-shadow: 0px 0px 7px black; 
                transform:  scale(1);
               
                
            }
        }
        @keyframes vanish {
          
        0%{
         
          visibility: visible;
        }
       
        
       
        100%{
          visibility: hidden;
         
          
        }
          
        }
    }
  //fin loader

%animationCoeur {
  .far{
    position: absolute;
    right: 1.5rem;
    top: 16.4rem;
    cursor: pointer;
    font-size: 28px;
    
}
.fas{//coeur invisible

    position: absolute;
    right: 1.5rem;
    top: 16.4rem;
    cursor: pointer;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #9356DC), color-stop(20%, #FF79DA));
    -webkit-background-clip: text;
    opacity: 0;
    font-size: 28px;
    transition: opacity 1s;
    color: transparent;
  
    &:active{
       opacity:1;
    
        
    }
}

}

%animationCoeur-desktop{
  .far{
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    font-size: 28px;
    
}
.fas{//coeur invisible

    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #9356DC), color-stop(20%, #FF79DA));
    -webkit-background-clip: text;
    opacity: 0;
    font-size: 28px;
    transition: opacity 1s;
    color: transparent;
  
    /*&:hover{
       opacity: 1;
    
        
    }*/
}

}






//animation page secondaire 
%animationCoeur-pagesSecondaire{
    .far{
        position: absolute;
        right: 2.5rem;
        cursor: pointer;
        font-size: 28px;
        
    }
    .fas{//coeur invisible

        position: absolute;
        right: 2.5rem;
        cursor: pointer;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #9356DC), color-stop(20%, #FF79DA));
        -webkit-background-clip: text;
        opacity: 0;
        font-size: 28px;
        transition: opacity 1s;
        color: transparent;
      
        &:hover{
           opacity:1;
        
            
        }
    }
}



@keyframes animation-defilement-menu {
  0%{
      transform: translateY(50%);
      opacity: 0;
    
      
      
      
  }

  100%{
      transform: translateY(0);
      opacity: 1;
      
  }
}


@keyframes animeCoche {

  from{
    margin-right: 0px;
  }
  to{
    margin-right: 96px ;
    
  }
}
  
 