@font-face {
    font-family: 'Roboto-Regular',sans-serif;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    src: url('../../fonts/roboto/Roboto-Regular.ttf');

    
    
}
@font-face {
    font-family: 'shrikhand',sans-serif;
    src: url('../fonts/shrikhand/shrikhand.ttf');
    src: url('../../fonts/shrikhand/Shrikhand-Regular.otf');
    
}
