
body{
   
  margin: 0;
  position: relative;
  
  
          
}
*{
  font-family: "Roboto-Regular",sans-serif;
}
#div-loader{
  position: fixed;
    
    top: 0;
   right: 0;
   bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation:vanish 0s ; //loading-spinner
    animation-fill-mode: both;//  indique la façon dont une animation CSS doit appliquer les styles à sa cible avant et après son exécution.
    @extend %animation-loading-spinner;
}
#bloc-page{

margin: auto; 
max-width: 768px;
}

